/* @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700&family=Open+Sans:wght@300;400;700&family=Varela+Round&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@700&family=Open+Sans:wght@300;400;700&family=Varela+Round&display=swap');

:root {
  --clr-primary: #f8a02c;
  --clr-secondary: #b15532;
  --clr-tertiary: #788285;
  --clr-black: #060606;
  --clr-white: #fff;
  --clr-light-gray: #eeeef1;
  --clr-yellow: #e4a665;
  --clr-text: #7a7a7a;
  --primary-font-family: 'Open Sans', sans-serif;
  --secondary-font-family: 'Old Standard TT', serif;
  --tertiary-font-family: 'Varela Round', sans-serif;
  --primary-font-weight: 400;
  --secondary-font-weight: 700;

  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
  --main-border: 1px solid var(--clr-primary);
}

.title {
  text-align: center;
  text-transform: capitalize;
  text-transform: uppercase;
}
.spacer-10 {
  margin-top: 10rem;
}
.spacer-20 {
  margin-top: 20rem;
}
@media screen and (max-width: 720px) {
  .spacer-10 {
    margin-top: 10em;
  }
  .spacer-20 {
    margin-top: 15em;
  }
}
.btn {
  background: #645cff;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  text-transform: capitalize;
  padding: 0.25rem;
  display: block;
  width: 200px;
  margin: 1rem;
}
.btn:disabled {
  opacity: 0.5;
  pointer-events: none;
  background-color: var(--clr-black);
}
.btn:disabled svg {
  fill: var(--clr-white);
}
.bg-grey {
  background: grey;
}

/*
===============
Loading
===============
*/

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  margin-top: 10rem;
  border-radius: 50%;
  border: 3px solid #ccc;
  border-top-color: red;
  animation: spinner 0.6s linear infinite;
}
/* @media screen and (min-width:768px){

} */
